<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/favicon.ico}">

    <title>KV-match on IoTDB</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-switch.css}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/offcanvas.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/jquery-ui.css}" rel="stylesheet">
    <link th:href="@{/css/jquery-ui-timepicker-addon.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">IoTDB</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}">Home</a></li>
                <!--<li><a th:href="@{/about}">About</a></li>-->
                <!--<li><a th:href="@{/contact}">Contact</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="param_status"></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <form id="form_param" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Path</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="param_Path" name="param_path">
                                        <option th:if="${'' == param_path}" value="" th:selected="${'' == param_path}">Please choose</option>
                                        <option th:each="a_param_path : ${param_paths}" th:text="${a_param_path}" th:selected="${a_param_path == param_path}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Error</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" name="param_epsilon" id="param_Epsilon" placeholder="Distance threshold" th:value="${param_epsilon}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Normalization</label>
                                <div class="col-sm-9" style="padding-left: 70px;">
                                    <input type="checkbox" data-size="small" class="form-control" name="param_normalized" id="param_Normalize_switch" th:checked="${param_normalized}">
                                </div>
                            </div>
                            <div id="input_alpha_beta" th:hidden="${!param_normalized}">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Alpha</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" name="param_alpha" id="param_Alpha" th:value="${param_alpha}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Beta</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" name="param_beta" id="param_Beta" th:value="${param_beta}">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron">
                <h1>KV-match on IoTDB</h1>
                <p>This is a system to show the KV-match timeseries subsequence matching on IoTDB. Try some query series to see the performance.</p>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-4">
                    <h2>IoTDB</h2>
                    <p>IoTDB is a timeseries database based on TsFile. The system is reliable and fast, suitable for IoT big data processing. It can manage huge amount of timeseries data and support many query types.</p>
                    <p><a class="btn btn-default" href="#IoTDB" role="button">View details &raquo;</a></p>
                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h2>KV-match</h2>
                    <p>Similarity-based timeseries retrieval has been a subject of long-term study due to its wide usage in many applications, such as financial data analysis, weather data forecasting, and multimedia data retrieval.</p>
                    <p><a class="btn btn-default" href="#KV-match" role="button">View details &raquo;</a></p>
                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h2>TsFile</h2>
                    <p>TsFile is a columnar storage file format designed for timeseries data, which supports efficient compression and query. It is easy to integrate TsFile into your IoT big data processing frameworks.</p>
                    <p><a class="btn btn-default" href="#similarity_search" role="button">View details &raquo;</a></p>
                </div><!--/.col-xs-6.col-lg-4-->
                <!--<div class="col-xs-6 col-lg-4">-->
                    <!--<h2>Build index</h2>-->
                    <!--<p>In this section, we introduce the index building algorithm and the index structure we used. The index structure take advantage of key-value storage system.</p>-->
                    <!--<p><a class="btn btn-default" th:href="@{/about#build_index}" role="button">View details &raquo;</a></p>-->
                <!--</div>&lt;!&ndash;/.col-xs-6.col-lg-4&ndash;&gt;-->
                <!--<div class="col-xs-6 col-lg-4">-->
                    <!--<h2>Query</h2>-->
                    <!--<p>In this section, we introduce the similarity query algorithm, and use HBase Coprocessor to take full advantages of cluster resources.</p>-->
                    <!--<p><a class="btn btn-default" th:href="@{/about#query}" role="button">View details &raquo;</a></p>-->
                <!--</div>&lt;!&ndash;/.col-xs-6.col-lg-4&ndash;&gt;-->
                <!--<div class="col-xs-6 col-lg-4">-->
                    <!--<h2>Experiments</h2>-->
                    <!--<p>An extensive empirical study shows that our index structure and algorithm supports time series similarity search effectively and efficiently.</p>-->
                    <!--<p><a class="btn btn-default" th:href="@{/about#experiments}" role="button">View details &raquo;</a></p>-->
                <!--</div>&lt;!&ndash;/.col-xs-6.col-lg-4&ndash;&gt;-->
            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a class="list-group-item active">
                    <h4 class="list-group-item-heading">Query</h4>
                    <p class="list-group-item-text">
                        Choose a query type below!
                    </p>
                </a>
                <!--<a href="#" data-toggle="modal" data-target="#modal_generate" class="list-group-item">Generate query series randomly</a>-->
                <a href="#" data-toggle="modal" data-target="#modal_index" class="list-group-item">Create index on timeseries</a>
                <a href="#" data-toggle="modal" data-target="#modal_draw" class="list-group-item">Draw query series by yourself</a>
                <a href="#" data-toggle="modal" data-target="#modal_offset" class="list-group-item">Pick query series from exist ones</a>
                <!--<a href="#" data-toggle="modal" data-target="#modal_offset_random" class="list-group-item">Choose data offset randomly</a>-->
            </div>
        </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->

    <hr>

    <footer>
        <p>&copy; 2017 <i>Jiaye Wu</i> and <i>Ningting Pan</i></p>
    </footer>

</div><!--/.container-->

<div class="modal fade" id="modal_index" tabindex="-1" role="dialog" aria-labelledby="modal_index_title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_index_title">Create index on timeseries</h4>
            </div>
            <div class="modal-body">
                <div id="message_index_create" role="alert"></div>
                <form id="index_create" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Path</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="index_path" name="index_path">
                                <option th:if="${'' == param_path}" value="" th:selected="${'' == param_path}">Please choose</option>
                                <option th:each="a_param_path : ${param_paths}" th:text="${a_param_path}" th:selected="${a_param_path == index_path}"></option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="button_index_create" type="button" data-loading-text="Processing..." class="btn btn-primary" autocomplete="off">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_draw" tabindex="-1" role="dialog" aria-labelledby="modal_draw_title">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_draw_title">Draw query series by yourself</h4>
            </div>
            <div class="modal-body">
                <div id="message_query_draw" class="alert alert-danger" role="alert"></div>
                <div id="container"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="button_query_draw" type="button" data-loading-text="Processing..." class="btn btn-primary" autocomplete="off">Query</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_offset" tabindex="-1" role="dialog" aria-labelledby="modal_offset_title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_offset_title">Pick query series from exist ones</h4>
            </div>
            <div class="modal-body">
                <div id="message_query_offset" class="alert alert-danger" role="alert"></div>
                <form id="query_offset" class="form-horizontal">
                    <input type="hidden" name="type" value="offset">
                    <div class="form-group">
                        <label for="input_path" class="col-sm-2 control-label" style="padding-left:0px">Query Path</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="input_path" name="Q_query_Path">
                                <option th:if="${'' == query_path}" value="" th:selected="${'' == query_path}">Please choose</option>
                                <option th:each="a_param_path : ${param_paths}" th:text="${a_param_path}" th:selected="${a_param_path == query_path}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_start_time" class="col-sm-2 control-label">Start Time</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="startOffset" id="input_start_time" placeholder="yyyy-MM-dd HH:mm:ss.SSS" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_end_time" class="col-sm-2 control-label">End Time</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="endOffset" id="input_end_time" placeholder="yyyy-MM-dd HH:mm:ss.SSS" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="button_query_offset" type="button" data-loading-text="Processing..." class="btn btn-primary" autocomplete="off">Query</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_offset_random" tabindex="-1" role="dialog" aria-labelledby="modal_offset_random_title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_offset_random_title">Choose data offset randomly</h4>
            </div>
            <div class="modal-body">
                <div id="message_query_offset_random" class="alert alert-danger" role="alert"></div>
                <form id="query_offset_random" class="form-horizontal">
                    <input type="hidden" name="type" value="offset_random">
                    <div class="form-group">
                        <label for="input_offset_random_length" class="col-sm-2 control-label">Length</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="length" id="input_offset_random_length" placeholder="Length of query series" value="1024">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="button_query_offset_random" type="button" data-loading-text="Processing..." class="btn btn-primary" autocomplete="off">Query</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery.min.js}"></script>
<script>window.jQuery || document.write('<script th:src="@{/js/jquery.min.js}"><\/script>')</script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/jquery-ui-timepicker-addon.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-switch.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
<script th:src="@{/js/offcanvas.js}"></script>
<script th:src="@{/js/highcharts.js}"></script>
<script th:src="@{/js/query.js}"></script>
</body>
</html>